# node enum([development", "production", "test"]) default is development
NODE_ENV = "" 
DATABASE_URL="postgresql://postgres:[password]@localhost:5433/kerjainyu"
# JWT_EXPIRES_IN: enum(["15m", "1h", "3d", "7d", "30d"])
JWT_EXPIRES_IN="yours"
JWT_SECRET="yours"
PORT="4000"